################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MGF Client/Library
/MGF Client/.vs/MGF Client
*.suo
/MGF Client/ProjectSettings
/MGF Client/Temp
bin
obj
packages
/mgf-video26.zip
/MultiplayerGameFramework/.vs/MultiplayerGameFramework/v15/Server/sqlite3
