<?xml version="1.0" encoding="utf-8" ?>
<autofac defaultAssembly="MultiplayerGameFramework">
  <components name="0">
    <type>MultiplayerGameFramework.Implementation.Config.ServerConfiguration, MultiplayerGameFramework</type>
    <parameters>
      <allowPhysicalClients>false</allowPhysicalClients>
      <parentPort>4531</parentPort>
      <siblingPort>0</siblingPort>
      <subCodeParameterCode>0</subCodeParameterCode>
      <peerIdCode>1</peerIdCode>
    </parameters>
    <properties>
      <ServerType>1</ServerType>
    </properties>
  </components>
  <components name="1">
    <type>MultiplayerGameFramework.Implementation.Config.PeerInfo, MultiplayerGameFramework</type>
    <parameters>
      <ipAddress>127.0.0.1</ipAddress>
      <ipPort>4530</ipPort>
      <connectRetryIntervalSeconds>5</connectRetryIntervalSeconds>
      <isSiblingConnection>false</isSiblingConnection>
      <maxTries>5</maxTries>
      <applicationName>TestServer</applicationName>
    </parameters>
  </components>
  <modules name="2">
    <type>MGF_Photon.Modules.SubServerModule, MGF.Photon4</type>
  </modules>
  <modules name="3">
    <type>Servers.Modules.LoginModule, Servers</type>
  </modules>
</autofac>
