<?xml version="1.0" encoding="utf-8" ?>
<autofac defaultAssembly="MultiplayerGameFramework">
  <components name="0">
    <type>MultiplayerGameFramework.Implementation.Config.ServerConfiguration, MultiplayerGameFramework</type>
      <parameters>
        <allowPhysicalClients>true</allowPhysicalClients>
        <parentPort>4530</parentPort>
        <siblingPort>0</siblingPort>
        <subCodeParameterCode>0</subCodeParameterCode>
        <peerIdCode>1</peerIdCode>
      </parameters>
  </components>
  <modules name="1">
    <type>MGF_Photon.Modules.ProxyServerModule, MGF.Photon4</type>
  </modules>
  <modules name="2">
    <type>Servers.Modules.TestModule, Servers</type>
  </modules>
</autofac>
